.dark { 
    color: white!important;
}
.dark a { 
    color: white!important;
}
.dark .nav-button {
    background: inherit;
    border: 0px;
}
.dark .nav-button:hover {
    background: #dddddd50;
}
.opacity-80 {
    opacity: 0.8!important;
}
.brand {
    font-size: 1.3rem;
}
