@font-face {
    font-family: Cabin;
    src: url("./Cabin-Regular.ttf");
}
* {
    text-decoration: none!important;
    font-family: Cabin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}